

<h2>Try it</h2>
<form data-method="{{method}}" data-url-template="{{host}}{{basePath}}{{path}}">

    <table class="parameter-table pure-table pure-table-bordered">
        {{#if parameters.header}}
            {{#each parameters.header}}
                {{> form-row parameterType="header" }}
            {{/each}}
        {{/if}}

        {{#if parameters.query}}
            {{#each parameters.query}}
                {{> form-row parameterType="query"}}
            {{/each}}
        {{/if}}

        {{#if parameters.path}}
            {{#each parameters.path}}
                {{> form-row parameterType="path"}}
            {{/each}}
        {{/if}}

        {{#if parameters.form}}
            {{#each parameters.form}}
                {{> form-row parameterType="form"}}
            {{/each}}
        {{/if}}

    <tr>
        <td colspan="5"><input type="submit"" value="Try" disabled="true"/></td>
        </tr>

    </table>

</form>