
{{#if enum}}
    <select name="{{name}}" data-parameter-type={{parameterType}}>
        {{#each enum}}
        <option value="{{this}}" {{#is this ../default}}selected{{/is}}>{{this}}</option>
        {{/each}}
    </select>
{{else}}
    {{#is type "boolean" }}
        <select name="{{name}}" data-parameter-type="{{parameterType}}">
            <option selected></option>
            <option value="true">true</option>
            <option value="false">false</option>
        </select>
    {{else}}
        <input
            type="text"
            name="{{name}}"
            {{#if required}}required="true" {{/if}}
            {{#if dafault}}value="{{dafault}}" {{/if}}
            {{#if example}}placeholder="ie {{example}}" {{/if}}
            data-parameter-type={{parameterType}}
        />
    {{/is}}
{{/if}}