 /*
 Styles for plain theme of waypointer
 */

button, input[type="submit"], input[type="button"], .button {
  display: inline-block;
  padding-top: 0.4em;
  padding-right: 1em;
  padding-left: 1em;
  padding-bottom: 0.5em;
  margin-bottom: 0;
  font-weight: 200;
  font-size: 1rem;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: #33a0e8;
  color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

 button:active, input[type="submit"]:active, input[type="button"]:active, .button:active {
    background-color: #fc0599;
 }

 body {
     background-color: fff;
     padding: 4em;
     color: #101214;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size: 1em;
     line-height: 1.4em;
 }

 .title, h1, h2, h3, h4, h5, h6 {
     color: #101214;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 }

 h3 {
     font-weight: normal;
 }

 .CodeMirror{
     padding: 1em;
     border: 1px solid #ccc;
     border-radius: 4px;
     font-size: 1.2em;
 }

 code, .CodeMirror{
     font-family: Monaco, Consolas, 'Courier New', monospace;
 }

 pre{
     padding: 1em;
     border: 1px solid #ccc;
     border-radius: 4px;
     font-size: 0.9em;
 }

 a {
     color: #0079C0;
     text-decoration: none;
 }

 a:hover, a:active {
     color: #FC0599;
     text-decoration: underline;
 }

 footer{
     font-size: 0.8em;
     text-transform: uppercase;
     color: #333;
 }

 #wrap {
     max-width: 50em;
     margin: 0 auto;
 }

 .version {
     font-weight: 200;
 }

 #menu, .group, .group-item {
     display: block;
     margin-top: 5em;
     margin-bottom: 7em;
 }

 #menu li {
     text-transform: capitalize;
 }

 .group h1 {
     font-weight: 200;
 }

 .parameter-table td:nth-child(1), .parameter-table td:nth-child(2) {
     font-family: 'Source Code Pro', Menlo, Monaco, Consolas, 'Courier New', monospace;
 }

 .tabs {
     display: -webkit-flex;
     display: flex;
     -webkit-flex-wrap: wrap;
     flex-wrap: wrap;
 }

 .tabs label {
     background: #eee;
     border: 1px solid #ddd;
     padding: .7em 1em;
     cursor: pointer;
     z-index: 1;
     margin-left: -1px;
 }

 .tabs label:first-of-type {
     margin-left: 0;
 }

 .tabs div {
     width: 100%;
     margin-top: -1px;
     padding: 1em;
     border: 1px solid #ddd;
     -webkit-order: 1;
     order: 1;
 }

 .tabs input[type=radio], .tabs div {
     display: none;
 }

 .tabs input[type=radio]:checked + label {
     background: #fff;
     border-bottom: 1px solid #fff;
 }

 .tabs input[type=radio]:checked + label + div {
     display: block;
 }


 #bearer-token-input{
    width: 20em;
    margin-left: 0.5em;
    padding: 0.5em;
}
