<html>

<head>
    <title>{{info.title}}</title>

    {% for item in theme.cssLinks %}
        <link href="{{ item }}" rel="stylesheet" />
    {% endfor %}

    {% for item in theme.jsLinks %}
        <script src="{{ item }}"></script>
    {% endfor %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

 <div id="wrap">

    {% set host = host %}
    {% set basePath = basePath %}


    <header id="header">
        <h1>{{info.title}} <span class="version">v{{info.version}}</span></h1>
        <p>{{info.description | safe}}</p>
    </header>

    {%if securityDefinitions.Bearer%}
        Bearer Token: <input id="bearer-token-input" name="bearer" type="text"/ >
    {% endif %}

      <nav id="menu">
        <ul>

            {% for text in text.before %}
                <li><a href="#{{text.id}}">{{text.name}}</a></li>
            {% endfor %}

            {% for group in groups %}
                <li><a href="#group-{{group.name}}">{{group.name}}</a>
                    <ul>
                    {% for endpoint in group.endpoints %}
                        <li><a href="#{{endpoint.id}}">{{endpoint.summary}}</a></li>
                    {% endfor %}
                    </ul>
                </li>
            {% endfor %}


            {% for text in text.after %}
                <li><a href="#{{text.id}}">{{text.name}}</a></li>
            {% endfor %}


        </ul>
    </nav>


    <section id="content">
        {%if text.before%}
            <section class="group">
                {% for text in text.before %}
                    <section id="{{text.id}}" class="group-item before {{text.class}}">
                            <h1>{{text.name}}</h1>
                            <div>{{text.html | safe}}</div>
                    </section>
                {% endfor %}
            </section>
        {% endif %}


        {% for group in groups %}
            <section class="group" id="group-{{group.name}}">

                <h1>{{group.name}}</h1>
                <p>{{group.description}}</p>

                {% for text in group.text.before %}
                    <div class="before {{text.class}}">{{text.html | safe}}</div>
                {% endfor %}

                {% for endpoint in group.endpoints %}

                    {% set endpointId = endpoint.id %}
                    <section id="{{endpoint.id}}" class="group-item endpoint">
                        <h2>{{endpoint.summary}}</h2>
                        <p>{{endpoint.description}}</p>

                        {% for text in endpoint.text.before %}
                            <div class="before {{text.class}}">{{text.html | safe}}</div>
                        {% endfor %}

                        <pre><code class="bash">{{endpoint.method}} {{endpoint.path}}</code></pre>

                        {% includeWith "includes/form-form.html", with={
                            host: host,
                            basePath: basePath,
                            endpoint: endpoint
                        } %}


                        {% for text in endpoint.text.after %}
                            <div class="after {{text.class}}">{{text.html | safe}}</div>
                        {% endfor %}

                    </section>

                {% endfor %}


                {% for text in group.text.after %}
                    <div class="after {{text.class}}">{{text.html | safe}}</div>
                {% endfor %}

            </section>


        {% endfor %}



        {%if text.after%}
            <section class="group">
                {% for text in text.after %}
                    <section id="{{text.id}}" class="group-item after {{text.class}}">
                            <h1>{{text.name}}</h1>
                            <div>{{text.html | safe}}</div>
                    </section>
                {% endfor %}
            </section>
        {% endif %}

    </section>


    <footer>
        Theme: {%if theme.url%}<a href="{{theme.url}}">{% endif %}{{theme.name}}{%if theme.url%}</a>{% endif %}
        {%if theme.license%} &dash; License: {{theme.license}}{% endif %}
    </footer>


     </div>

</boby>

</html>
